world*
libraries
logs
versions
*.zip
usercache.json
*.log
node_modules
backups

# Config files
./banned-ips.json
./banner-players.json
./config.json
./ops.json
./server*.jar
./server.properties
./whitelist.json

# Files inside a Spigot server mounted plugins directory
# Need a better solution really
config/**/plugins/ChestLock
config/**/plugins/CraftableSaddles
config/**/plugins/PluginMetrics
config/**/plugins/bStats
config/**/plugins/dynmap
config/**/plugins/TreeFeller
config/**/plugins/CMILib
config/**/plugins/BottledExp
