/world*
libraries
logs
versions
*.zip
usercache.json
*.log
node_modules
backups

# Config files (per server)
./banned-ips.json
./banner-players.json
./config.json
./ops.json
./server*.jar
./server.properties
./whitelist.json

# Paper
config/**/plugins/.paper-remapped

# Files inside a server mounted plugins directory
# Need a better solution really
config/**/plugins/ChestLock
config/**/plugins/CraftableSaddles
config/**/plugins/PluginMetrics
config/**/plugins/bStats
config/**/plugins/CMILib
config/**/plugins/WorldEdit
config/**/plugins/spark
config/**/plugins/TabTPS

config/**/plugins/dynmap/colorschemes
config/**/plugins/dynmap/custom-lightings.txt
config/**/plugins/dynmap/custom-perspectives.txt
config/**/plugins/dynmap/custom-shaders.txt
config/**/plugins/dynmap/export
config/**/plugins/dynmap/ids-by-ip.txt
config/**/plugins/dynmap/import
config/**/plugins/dynmap/lightings.txt
config/**/plugins/dynmap/markers
config/**/plugins/dynmap/markers.yml
config/**/plugins/dynmap/perspectives.txt
config/**/plugins/dynmap/renderdata
config/**/plugins/dynmap/shaders.txt
config/**/plugins/dynmap/templates
config/**/plugins/dynmap/texturepacks
config/**/plugins/dynmap/version.txt
config/**/plugins/dynmap/web
config/**/plugins/dynmap/world.pending
config/**/plugins/dynmap/world_nether.pending
config/**/plugins/dynmap/worlds.txt

config/**/plugins/BottledExp/blocks.yml
config/**/plugins/BottledExp/Translations
config/**/plugins/BottledExp/Locale*
config/**/plugins/BottledExp/recipes.yml

config/**/plugins/ImageFrame/data
config/**/plugins/ImageFrame/players

config/**/plugins/WorldGuard/cache
config/**/plugins/WorldGuard/worlds

config/**/plugins/LuckPerms/libs
config/**/plugins/LuckPerms/translations
config/**/plugins/LuckPerms/yaml-storage
config/**/plugins/LuckPerms/contexts.json
config/**/plugins/LuckPerms/*.db
